{% extends 'base.html.twig' %}

{% block body %}
    <h1>anakonda zielona</h1>
    <!--opis-->
    <p>anakonda zielona(Eunectes murinus)–gatunek węża z rodziny dusicieli,<br/> 
        podrodziny boa, znany także jako anakonda olbrzymia. <br/> 
        Zamieszkuje dorzecza Amazonki i Orinoko.<br/> 
        Jeden z największych węży na świecie, ale nie najdłuższy.<br/><br/>
        
        Długość do 4 - 4,5 m.<br/>
        Masa ciała nawet do 250 kg.<br/>
        Samice są większe od samców.
    </p>
    <!--zachowanie-->
    <p>
        Choć większe rozmiary osiąga pyton siatkowy,<br/>
        anakondy są znacznie cięższe i mogą osiągać nawet 250 kg masy ciała <br/> 
        (jest to możliwe dzięki wodnemu środowisku – <br/> 
        anakonda potrafi pływać z szybkością 20 km/godz i trwać w zanurzeniu 20 minut),<br/> 
        przy średnicy 30 cm i obwodzie 1 m. Samice są wyraźnie większe od samców. <br/> 
        Samice średnio osiągają 4 – 4,5 m długości oraz masę 60 – 70 kg. <br/>
        Samce przeciętnie osiągają około 2,5 – 3 m, przy czym są znacznie szczuplejsze od samic. <br/>
        Bardzo rzadko spotkać można samicę mierzącą ponad 5 m i ważącą ponad 100 kg. <br/>
        Head i współpracownicy (2009) podają, że najdłuższa zmierzona anakonda, której pomiar jest weryfikowalny, mierzyła ok. 7 m długośc<br/> 
    </p>
    <!--zdjecie-->
    <<img src="http://upload.wikimedia.org/wikipedia/commons/4/4f/Eunectes_murinus.jpg" alt="Anakonda Zielona">
    
{% endblock %}
