{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Hipopotam nilowy</h1>

        <img src="http://www.aviornis.com.pl/files/thumbs/t_hipopotam_155.jpg" alt="hipopotam">

        <p>
            Hipopotam nilowy -  gatunek dużego, przeważnie roślinożernego ssaka, należącego do rodziny 
            hipopotamowatych (Hippopotamidae), w obrębie której wyróżnia się dwa współcześnie żyjące 
            gatunki (drugim jest dużo mniejszy hipopotam karłowaty). Hipopotam nilowy jest jedynym 
            żyjącym przedstawicielem rodzaju Hippopotamus.
        </p>

        <p>
            <b>Masa ciała</b>
            Średnia masa dorosłych samców wynosi 1500-1800 kg. Długość zębów osiąga maksymalnie 
            30 cm. Samice są mniejsze od samców, ich średnia masa wynosi 1300-1500 kg. 
            Starsze samce są dużo większe i mogą ważyć ponad 3000 kg. Osiągają maksymalną masę 
            pod koniec życia; samice osiągają maksymalny ciężar ciała w wieku około 25 lat
            <b>Pożywienie</b>
             Anatomia żołądka hipopotamów dowodzi, że nie są to zwierzęta przystosowane 
             do trawienia mięsnego pokarmu, a mięsożerność tych zwierząt może być związana 
             z nieracjonalnym zachowaniem lub niedostatkiem pożywienia.
        </p>
    </article>
{% endblock %}
