{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kobra Królewska</h1>
    <!--opis-->
    <p>
      
    </p>
    <!--zachowanie-->
    <p>
       
    </p>
    <!--zdjecie-->
    <<img src="" alt="Kobra Królewska">
    
{% endblock %}
