{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kobra Królewska</h1>
    <!--opis-->
    <p>
        gatunek jadowitego węża z rodziny zdradnicowatych. <br/>
        Jest największym z jadowitych węży, osiąga do 5,7 m długości i waży do 9 kg. <br/>
        Stosownie do rozmiarów wytwarza dużą ilość silnego jadu, typowego dla kobr. <br/>
        Świetnie pływa i wspina się po drzewach.<br/>
    </p>
    <!--Status i zagrożenia-->
    <p>
        Jest gatunkiem rzadkim i z kolejnymi latami jej liczebność maleje.<br/> 
       Nie podjęto jednak jeszcze decyzji o nadania jej statusu zagrożenia.<br/>
       Ze względu na to, iż kobra królewska jest w swojej faunie niemalże na szczycie łańcucha pokarmowego,<br/>
       zagrożenia wynikające z agresji innych zwierząt są bardzo małe. <br/>
       Obecnie największym zagrożeniem dla tego węża jest działalność człowieka – wiele z tych gadów <br/>
       ginie pod kołami samochodów. Inną przyczyną coraz niższej liczebności kobry królewskiej jest <br/>
       niszczenie jej naturalnego środowiska.<br/>
    </p>
    <!--zdjecie-->
    <<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Ophiophagus_hannah_%281%29.jpg/800px-Ophiophagus_hannah_%281%29.jpg" alt="Kobra Królewska">
    
{% endblock %}
