{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Nosorożec Indyjski</h1>

        <img src="http://zasoby.ekologia.pl/animal/a/315/nosorozec_indyjski_3_max.jpg" alt="nosorozecIndyjski">

        <p>
            Nosorożec indyjski, nosorożec pancerny (Rhinoceros unicornis) - gatunek nosorożca o długości ciała dochodzącej do 4 m i wysokości w kłębie ok. 1,7 m.<br/>
            Waga ok. 2000 kg. Maksymalnie do 3000 kg. Na pysku ma tylko jeden róg.<br/>
            U osobników w niewoli zwykle starty i z tego powodu niewielki.<br/>
            U dorosłych samców w naturalnym środowisku może dorastać do 57,2 cm.<br/>
            Gruba skóra zwierzęcia tworzy charakterystyczne fałdy przypominające tarcze pancerza.<br/>
            Zamieszkuje podmokłe leśne obszary Nepalu i północno-wschodnich Indii.
        </p>

        <p>
            W 1513 roku pierwszy nosorożec indyjski popłynął do Europy jako prezent dla króla portugalskiego. Okaz ten wzbudził prawdziwą sensację i został uwieczniony przez sławnego niemieckiego malarza Albrechta Dürera.<br/><br/>

            W krajach południowej Azji panuje przekonanie, że wszystko co pochodzi od nosorożca, ma właściwości cudowne i lecznicze, w szczególności jego róg i krew. <br/>
            W Nepalu w czasie wypełniania obrzędów religijnych składano dawniej ofiary z krwi i mięsa nosorożców. <br/>
            W Indiach istniał zwyczaj wypijania jego krwi podczas pewnych uroczystości świątecznych lub przynajmniej picia wody i mleka z kubków wyrzeźbionych z rogu tego zwierzęcia. <br/>
            Kto chciał się zabezpieczyć od złośliwości złych duchów i chorób, wieszał u wejściowych drzwi domu ampułkę z moczem nosorożca.
        </p>
    </article>
{% endblock %}
