{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Guziec afrykański</h1>

        <img src="http://upload.wikimedia.org/wikipedia/commons/d/d8/Lightmatter_warthog.jpg" alt="guziec">

        <p>
            Guziec -  ssak parzystokopytny z rodziny świniowatych. Występuje praktycznie na terenie całej Afryki, z wyjątkiem regionów suchych i  lasów tropikalnych. 
            Jednak z powodu fragmentacji siedlisk i konfliktów  z mieszkańcami wsi, obecnie jego 
            występowanie ogranicza się to terenów objętych ochroną
        </p>

        <p>
            <b>Cechy gatunku</b>
            Zwierzę masywne, pysk uzbrojony w długie kły (u samców mogą dochodzić do 60 cm);
            po bokach głowy duże narośle skórne. Sierść krótka, czarna lub ciemnobrązowa. 
            Na karku i grzbiecie grzywa z długich włosów.
            <b>Długość</b>
            100-150 cm  
            <b>Ogon</b>
            20 cm
            <b>Wysokość w kłębie</b>
            64-84 cm
            <b>Masa ciała</b>
            50-150 kg
            <b>Pożywienie</b>
            Roślinne: bulwy, korzenie, kłącza
            Na sawannie, gdzie występują guźce, pożywienie jest ubogie w składniki odżywcze, 
            dlatego tereny, na których rosną żyzne rośliny są bardzo atrakcyjne. 
            Niektóre mniejsze afrykańskie zwierzęta kopytne w celu uzyskania bardziej wartościowego
            pożywienia wędrują na dalekie odległości. Guźce jednak nie są zwierzętami migrującymi. 
            Ich rozpowszechnienie w Afryce spowodowane jest w dużej mierze umiejętnością dopasowywania
            diety do warunków ekologicznych danego siedliska.
        </p>
    </article>
{% endblock %}
