{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>skorpion cesarski</h1>

        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Emporer_scorpion.jpg/1024px-Emporer_scorpion.jpg" alt="skorpion">

        <p>
            Skorpion cesarski (Pandinus imperator) – gatunek skorpiona zamieszkujący lasy tropikalne Afryki (Kotlina Konga, Ghana, Nigeria).
            Jeden z największych skorpionów świata – jego długość dochodzi do 23 cm. 
            Duże oraz masywne szczypce, z łatwością przecinają skórę. Rzadko używa kolca jadowego.
        </p>

        <p>
            <b>Cechy gatunku</b>
            Zwierzę masywne, pysk uzbrojony w długie kły (u samców mogą dochodzić do 60 cm);
            po bokach głowy duże narośle skórne. Sierść krótka, czarna lub ciemnobrązowa. 
            Na karku i grzbiecie grzywa z długich włosów.
            <b>Długość</b>
            12 - 20 cm
            <b>Masa ciała</b>
            50-100 g
            <b>Wilgotność</b>
            W dzien 80%, w nocy niżej niż 80%.
            <b>Pożywienie</b>
            W hodowli podajemy świerszcze, karaczany, drewnojady, szarańczę.
        </p>
    </article>
{% endblock %}
