{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Szarańcza Pustynna</h1>

        <img src="http://i.wp.pl/a/f/jpeg/22351/niszczycielskie_03.jpeg" alt="szaranczaPustynna">

        <p>
            Szarańcza pustynna (Schistocerca gregaria) – gatunek owada prostoskrzydłego z rodziny szarańczowatych (Acrididae),
            zdolny do wytwarzania fazy stadnej, groźny szkodnik upraw, szczególnie we wschodniej Afryce i Indiach. <br/>
            Jest polifagiem. Został opisany naukowo z Egiptu. <br/>
            Od szarańczy wędrownej różni się obecnością wyrostka na przedtułowiu.
        </p>

        <p>
            Osiąga długość 6 cm i wagę około 2 g.<br/>
            Zmienne, lecz zazwyczaj brązowe z żółtymi plamami.<br/>
            Dziennie jest w stanie zjeść pokarm o wadze równej masie ciała (2g),
            pożywieniem mogą być wszystkie rośliny znajdujące się w okresie wegetacyjnym włączając w to zboża i inne rośliny uprawne. <br/>
            Ze względu na rozmiary gromad w jakich żyją, szkody przez nie dokonywane są ogromne.
        </p>
    </article>
{% endblock %}
