{% extends 'base.html.twig' %}

{% block body %}
    <h1>Waran z Komodo</h1>
    <!--opis-->
    <p>
        Głowa duża i szeroka, szyja gruba i masywna, baryłkowaty tułów, ogon gruby u nasady,<br/> 
        a w dalszej części bocznie spłaszczony, równy połowie długości ciała.<br/> 
        Szeroka szczęka uzbrojona w 60 zębów. Ciało pokryte ziarnistymi łuskami.<br/> 
        Grzbiet ciemnobrązowy, pokryty czarnymi plamkami.<br/><br/>
        
        Długość do 2,5-3,0 m (rekord – 3,65 m)<br/>
        Masa ciała ok 79-90 kg (dorosły samiec na wolności).<br/>
        Samice są mniejsze od samców.
    </p>
    <!--zachowanie-->
    <p>
        Aktywny w dzień, a noc spędza w wygrzebanych przez siebie norach. Poluje z zasadzki,<br/>
        do upatrzonej zdobyczy zakrada się od tyłu. Atakując mniejszą zdobycz,<br/> 
        może rzucić się wprost do jej szyi; większą ofiarę (np. jelenia czy dziką świnię)<br/> 
        stara się powalić na ziemię (m.in. przy użyciu potężnego ogona, którego siła uderzenia równa się sile 2 ton),<br/> 
        a następnie rozedrzeć na strzępy lub doprowadzić do jej wykrwawienia.<br/> 
        Badania wykazały, że w ślinie warana żyje ok. 50 różnych szczepów bakterii, <br/>
        rozwijających się dzięki resztkom mięsa pozostającym między zębami warana; sugerowano, <br/>
        że bakterie te przy ukąszeniu dostają się do krwi zaatakowanego zwierzęcia, <br/>
        powodując infekcję prowadzącą do śmierci ofiary. Z drugiej strony, Fry i in. (2006) odkryli,<br/> 
        że inny przedstawiciel rodziny waranów, waran kolorowy, wytwarza prawdziwy jad; twierdzą przy tym, <br/>
        że ukąszenia dwóch innych przedstawicieli tej rodziny – Varanus scalaris i warana z Komodo – wywołują <br/>
        u ukąszonego objawy wskazujące bardziej na działanie jadu niż na infekcję bakteryjną[3]. <br/>
        Późniejsze badanie Frya i współpracowników potwierdziło fakt wytwarzania przez warany z Komodo <br/>
        prawdziwego jadu; autorzy kwestionują też wpływ występujących w ślinie waranów bakterii na śmierć ich <br/>
        ofiar[4]. Na krótkim odcinku waran z Komodo może biec z szybkością do 20 km/h. Potrafi też pływać 
        w pogoni za ofiarą.
    </p>
    <!--zdjecie-->
    <<img src="http://dinoanimals.pl/wp-content/uploads/2013/04/Waran-z-Komodo-12.jpg" alt="Waran">
    
{% endblock %}
